## Projeto Titanic

 #### Objetivo principal: realizar todas as fases do Machine learning, ou seja, EDA e predi√ß√£o, utilizando diversos algoritmos de classifica√ß√£o da biblioteca SciKit-learn
 #### Objetivos secund√°rios: 
 - Criar um storytelling dos dados
 - Utilizar m√©tricas tradicionais (F1-score, acur√°cia, AUC, sensibilidade, especificidade, matriz de confus√£o, recall, precis√£o, etc.) 
 - Demonstrar graficamente features importance e outros m√©tricas com Matplotlib e Seaborn

### Bibliotecas e configura√ß√µes

In [3]:
# Manipula√ß√£o de dados (nossos velhos conhecidos, s√≥ o numpy a gente n√£o usou)
import pandas as pd
import numpy as np
# Visualiza√ß√µes (virgem, que tanto de biblioteca!!! trouxe v√°rias pra deixar pra voc√™s brincarem!)
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
# Estat√≠sticas 
from scipy import stats
import warnings

# Configura√ß√µes
warnings.filterwarnings('ignore')
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")
# Configura√ß√µes do matplotlib (calma que amanh√£ tem dataviz! hoje √© s√≥ uns gr√°ficos simples)
plt.rcParams['figure.figsize'] = (12, 8)
plt.rcParams['font.size'] = 12
plt.rcParams['axes.grid'] = True
plt.rcParams['grid.alpha'] = 0.3
# Configura√ß√µes do pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

### Dataframe Titanic

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv") ## sempre o link da pasta raw
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### üìò Dicion√°rio de Dados ‚Äî Titanic

| Coluna        | Tipo          | Descri√ß√£o                                                   |
| ------------- | ------------- | ----------------------------------------------------------- |
| `PassengerId` | Inteiro       | Identificador √∫nico do passageiro                           |
| `Survived`    | Bin√°rio (0/1) | Sobreviveu? (0 = N√£o, 1 = Sim)                              |
| `Pclass`      | Inteiro (1‚Äì3) | Classe do bilhete (1 = Primeira, 2 = Segunda, 3 = Terceira) |
| `Name`        | String        | Nome completo do passageiro                                 |
| `Sex`         | String        | Sexo (`male`, `female`)                                     |
| `Age`         | Float         | Idade em anos                                               |
| `SibSp`       | Inteiro       | N√∫mero de irm√£os/c√¥njuges a bordo                           |
| `Parch`       | Inteiro       | N√∫mero de pais/filhos a bordo                               |
| `Ticket`      | String        | N√∫mero do bilhete                                           |
| `Fare`        | Float         | Valor pago pela passagem                                    |
| `Cabin`       | String        | N√∫mero da cabine                                            |
| `Embarked`    | Categ√≥rica    | Porto de embarque                                           |

### üö¢ Valores poss√≠veis de Embarked

| C√≥digo | Porto       |
| ------ | ----------- |
| `C`    | Cherbourg   |
| `Q`    | Queenstown  |
| `S`    | Southampton |

### Suport Vector Machine (SVN)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score